{% extends "base.html" %}
{% block body_class %}login-page{% endblock %}
{% block content %}

<div class="contain">
    <div class="login-card">

        <div class="form-container">
            <h1>Welcome back&nbsp;&nbsp;👋</h1>

            <form method="POST">

                <div class="input-box">
                    <input type="email" name="email" required>
                    <span>Email</span>
                    <i></i>
                    <img src="{{ url_for('static', filename='images/emailicon.svg') }}" class="input-icon">
                </div>

                <div class="input-box">
                    <input type="password" name="password" required>
                    <span>Password</span>
                    <i></i>
                    <img src="{{ url_for('static', filename='images/lockicon.svg') }}" class="input-icon">
                </div>

                <p class="forgot-password">
                    <a href="#">Forgot Password?</a>
                </p>

                <input type="submit" value="Let's Practice ⌯⌲" class="submit_button">

            </form>

            <p class="signup-text">
                Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a>
            </p>
        </div>

    </div>
</div>

{% endblock %}