.dashboard-right:has(.progression-coming-page),
.dashboard-main:has(.progression-coming-page) {
  background: #ffffff;
}

.dashboard-main:has(.progression-coming-page) {
  padding: 0;
}

.progression-coming-page {
  height: calc(100vh - 90px);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  overflow: hidden;
}

.coming-soon-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin-top: 35px;
}